* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #fcfcfc;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
}
.title {
  width: 100%;
  height: 60px !important;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.1px;
  z-index: 1000;
  margin: 0;
  font-size: 40px !important;
  text-shadow: 1px 1px #ffffff, 2px 2px #ea987c, 3px 3px #f1baa6; /*Make use of overlapping words in WordArt*/
}
/* 公共button样式 */
.button {
  font-size: 14px;
  padding: 12px 25px;
  border-radius: 7px;
  box-shadow: 0 10px 20px -15px rgba(0, 0, 0, 0.5);
  color: #fcfcfc;
  background-color: #bf1e2e;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: none;
  cursor: pointer;
}
.button:hover {
  background-color: #18b8a8;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
}
.center {
  width: 1400px;
  margin: 0 auto;
}
.widthCenter {
  width: 1200px;
  margin: 0 auto;
}
/*Set up a welcome message*/
.welcome {
  position: fixed;
  top: 125px;
  width: 100%;
  height: 53px;
  background-color: #444;
  color: white;
  text-align: center; /*Center the text*/
  padding: 1em;
  z-index: 1001;
  transition: opacity 1s ease-out; /*Make the welcome disappear slowly*/
  margin-top: 0;
  margin-bottom: 20px;
}

/*Set transparency*/
.welcome.fade-out {
  opacity: 0;
}

/*Triggers a transition effect of transparency, causing elements to fade or appear*/
.welcome-section {
  text-align: center;
  padding: 5em 0;
  background-size: cover;
  color: white;
  transition: opacity 1s ease-out;
}
.header-fixed {
  position: fixed;
  top: 0;
  z-index: 1001;
  width: 100%;
  background-color: white;
}
.header {
  width: 1400px;
  height: 65px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}
.placeholderDiv {
  height: calc(65px + 53px + 60px);
}
.logo {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.menus {
  flex: 1;
  flex-shrink: 0;
  height: 100%;
}
.menus ul,
.login {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.menus ul,
.menus ul li {
  height: 100%;
  margin: 0;
}
.menus ul li a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menus ul li a,
.login a {
  color: #2c2b34;
  font-weight: 700;
  padding: 8px;
}
.menus ul li a:hover {
  color: #bf1e2e;
  background-color: #d4d4d4;
}
/* banner */
.banner {
  width: 1200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.banner .carousel {
  width: 100%;
}
.carousel {
  position: relative;
  width: 600px;
  height: 622px;
  margin: auto;
  overflow: hidden;
}

.banner .slides img {
  width: 100%;
  height: 100%;
  display: none;
}

.banner .prev,
.banner .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.banner .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.banner .prev:hover,
.banner .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .dots {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.banner .dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.banner .active,
.banner .dot:hover {
  background-color: #717171;
}

/*  */
.img {
  width: 100%;
}

.list {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listStyle {
  display: grid;
  grid-template-columns: 386.66px 386.66px 386.66px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 0 !important;
}
.listStyle .item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.card .image {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
}
.card .image img {
  height: 100%;
  transition: all 0.3s;
}
.card .image img:hover {
  transform: scale(1.05);
}

.item .card .money {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(44, 43, 52, 0.6);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fcfcfc;
  padding: 0 16px;
}

.right .money {
  color: #05060f !important;
}

.card .info {
  padding: 16px;
}

.card h4 {
  font-size: 18px;
  margin: 8px 0;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.combination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-break: auto;
  margin-bottom: 8px;
  word-break: break-word;
}
.combination p {
  margin: 0px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
}
.card .about {
  display: -webkit-box; /* 适用于WebKit浏览器 */
  -webkit-box-orient: vertical; /* 垂直排列 */
  -webkit-line-clamp: 3; /* 限制显示三行 */
  overflow: hidden; /* 隐藏超出部分 */
  text-overflow: ellipsis; /* 显示省略号 */
  font-size: 12px;
}

.footer {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 80px 0;
  padding-bottom: 0;
}
.icon1 {
  width: 40px;
  height: 40px;
}
.icon2 {
  width: 30px;
  height: 30px;
}

.footer ul {
  display: flex;
  justify-content: space-around;
}
.footer ul li {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.footer ul li > div:nth-child(1) {
  font-size: 18px;
  font-weight: 600;
}

.footer .icons2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer .icons2 > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-text {
  padding-top: 80px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: #bf1e2e !important;
}

/* form */
.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form .widthCenter {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.form .widthCenter .search-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
.form .widthCenter .search-buts {
  display: flex;
  align-items: center;
  gap: 16px;
}
.search {
  margin-top: 16px !important;
}
/* input */
.input {
  width: 190px;
  height: 44px;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s, color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.label {
  width: 140px;
  text-align: right;
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group .input {
  width: calc(100% - 140px);
}
.radio-group {
  gap: 8px;
}

.input:hover,
.input:focus,
.input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label,
.input:focus {
  color: #05060fc2;
}

/* details */
.details .widthCenter {
  display: flex;
  justify-content: space-between;
}
.details .widthCenter .left {
  width: 64%;
  padding: 16px;
}
.details .widthCenter .left img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 16px;
}
.details .widthCenter .right {
  width: 34%;
  padding: 16px;
}
.details .widthCenter .right .card {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 70px;
}

.details .left h4 {
  font-size: 32px;
  margin: 16px 0;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details .combination p {
  font-size: 18px;
  margin: 16px 0;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details .about {
  font-size: 18px;
}

.details .card .money {
  width: 100%;
  background-color: rgba(24, 184, 168, 0.6);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 16px;
}
.details .card .money p {
  color: white;
}

.details .dinfo {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.details .dinfo .button {
  margin-top: 16px;
}

.b-card {
  padding: 80px 0;
  background-color: white;
}
.b-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.b-card-item h1 {
  font-size: 32px;
}
.b-card-item-btn {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* donate page */
.donate {
  background-color: rgb(250 250 250);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.donate-left {
  flex-basis: 60%;
  padding: 32px;
}
.donate-left input {
  background-color: #fafafa;
  border-color: #9ca3af;
  border-radius: 0.5rem;
  border-width: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  height: 48px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
}
.donate-left div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donate-left p {
  font-size: 14px;
}
.donate-left p:last-of-type {
  width: 100%;
  text-align: right;
}
.donate-left .button {
  display: inline-block;
  margin-top: 50px;
}
.donate-right {
  padding: 32px;
  flex-basis: 40%;
  background-color: rgb(245 245 245/0.8);
}
.donate-right .img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}
.donate-right .img img {
  width: auto;
  height: 222px;
}

.tips {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-weight: bold;
}
.red {
  color: red;
}
/* 筹款人ID */
.Fundraiser-ID {
  position: absolute;
  z-index: 9;
  backdrop-filter: blur(5px);
  background-color: #18b8a8;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  left: 12px;
  letter-spacing: 1px;
  padding: 6px 10px;
  top: 12px;
  transition: all 0.2s ease-in-out;
}

/* 进度条 */
.progressBar {
  width: 100%;
  height: 10px;
  background-color: #d1d5db;
}
.progressBar .bar {
  height: 100%;
  background-color: #54c3b8;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 2001;
  margin: 0;
  padding: 0;
  transition: display 0.4s ease;
}
.masking {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 2002;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal .content {
  position: fixed;
  z-index: 2003;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  padding: 16px;
  background-color: white;
  border-radius: 7px;
  min-width: 300px;
}
.modal .content h4 {
  width: 50vw;
  border-bottom: 1px solid #323232;
  padding-bottom: 16px;
}
