<app-layout>
  <div class="h1" style="width: 100%; display: flex; align-items: center; justify-content: space-between">
    <span>Fundraiser List</span>
    <div (click)="navTo('new')" class="button primary">New</div>
  </div>
  <div class="search" style="margin-bottom: 16px">
    <form style="width: 100%">
      <div class="form">
        <div class="form-item">
          <label class="headline">Caption: &nbsp;&nbsp;&nbsp;</label>
          <div class="input"><input autocomplete="off" name="CAPTION" id="CAPTION" [(ngModel)]="formData.caption" /></div>
          <div></div>
        </div>
        <div class="form-item">
          <label class="headline">Organizer: &nbsp;&nbsp;&nbsp;</label>
          <div class="input"><input autocomplete="off" name="ORGANIZER" id="ORGANIZER" [(ngModel)]="formData.organizer" /></div>
          <div></div>
        </div>
        <div class="form-item">
          <label class="headline">City: &nbsp;&nbsp;&nbsp;</label>
          <div class="input"><input autocomplete="off" name="CITY" id="CITY" [(ngModel)]="formData.city" /></div>
          <div></div>
        </div>
        <div class="form-item">
          <label class="headline">Target financing: &nbsp;&nbsp;&nbsp;</label>
          <div class="input"><input autocomplete="off" name="TARGET_FUNDING" id="TARGET_FUNDING" [(ngModel)]="formData.targetFunding" /></div>
          <div></div>
        </div>
        <div class="form-item">
          <label class="headline">Current funds: &nbsp;&nbsp;&nbsp;</label>
          <div class="input">
            <input autocomplete="off" name="CURRENT_FUNDING" id="CURRENT_FUNDING" [(ngModel)]="formData.currentFunding" />
          </div>
          <div></div>
        </div>
        <div class="form-item">
          <label class="headline">Category: &nbsp;&nbsp;&nbsp;</label>
          <div class="input">
            <select autocomplete="off" name="CATEGORY_ID" id="CATEGORY_ID" class="input" [(ngModel)]="formData.categoryId" style="width: 100%">
              <option *ngFor="let item of categories" [value]="item.CATEGORY_ID">{{ item.NAME }}</option>
            </select>
          </div>
          <div></div>
        </div>
        <div class="form-item">
          <label class="headline">Status: &nbsp;&nbsp;&nbsp;</label>
          <div style="display: flex; gap: 32px">
            <div style="display: flex">
              <input type="radio" name="ACTIVE" id="active" value="1" [(ngModel)]="formData.selectedRadio" />
              <span style="white-space: nowrap">Active</span>
            </div>
            <div style="display: flex; margin-left: 10px">
              <input type="radio" name="ACTIVE" id="not-active" value="0" [(ngModel)]="formData.selectedRadio" />
              <span style="white-space: nowrap">Not Suspended</span>
            </div>
          </div>
        </div>
        <div></div>
        <div class="form-item" style="justify-content: flex-end">
          <div class="button default" (click)="search()">Search</div>
          <div class="button default" (click)="clearCheckboxes()">Clear</div>
        </div>
      </div>
    </form>
  </div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>CAPTION</th>
          <th>ORGANIZER</th>
          <th>TARGET_FUNDING</th>
          <th>CURRENT_FUNDING</th>
          <th>CITY</th>
          <th>Status</th>
          <th>CATEGORY</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="Table">
        <tr *ngFor="let data of fundraisers">
          <td>{{ data.FUNDRAISER_ID }}</td>
          <td>{{ data.CAPTION }}</td>
          <td>{{ data.ORGANIZER }}</td>
          <td>{{ data.TARGET_FUNDING }}</td>
          <td>{{ data.CURRENT_FUNDING }}</td>
          <td>{{ data.CITY }}</td>
          <td>{{ data.ACTIVE == 1 ? 'Active' : 'Not Suspended' }}</td>
          <td>{{ data.CATEGORY_NAME }}</td>
          <td>
            <div>
              <div (click)="navTo('edit', data.FUNDRAISER_ID)" class="button default">Edit</div>
              <div (click)="showConfirm(data.FUNDRAISER_ID)" class="button delete">Delete</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="no-data" *ngIf="fundraisers.length <= 0">You didn't find anything</div>
  </div>
</app-layout>
