* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
ul,
li {
  text-decoration: none;
  list-style: none;
}
.button {
  font-size: 14px;
  padding: 12px 25px;
  border-radius: 7px;
  box-shadow: 0 10px 20px -15px rgba(0, 0, 0, 0.5);
  color: #fcfcfc;
  background-color: #bf1e2e;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: none;
  cursor: pointer;
}
.button:hover {
  background-color: #18b8a8;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
}
.center {
  width: 1536px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  font-weight: 700;
}
.banner {
  width: 100%;
}
.img {
  width: 100%;
}
