<app-header></app-header>

<div class="list">
  <ul class="widthCenter listStyle" id="A">
    <app-f-card *ngFor="let item of fundraisers" [data]="item"></app-f-card>
  </ul>
</div>
<div class="footer">
  <div class="widthCenter">
    <ul>
      <li>
        <div>Stay Connected</div>
        <div class="icons">
          <img class="icon1" src="assets/images/icon1.jpg" alt="" />
          <img class="icon1" src="assets/images/icon2.jpg" alt="" />
          <img class="icon1" src="assets/images/icon3.jpg" alt="" />
          <img class="icon1" src="assets/images/icon4.jpg" alt="" />
        </div>
      </li>
      <li>
        <div>contact me</div>
        <div class="icons2">
          <div>
            <img class="icon2" src="assets/images/icon5.png" alt="" />
            <div style="text-decoration: underline">292705240</div>
          </div>
          <div>
            <img class="icon2" src="assets/images/icon6.png" alt="" />
            <div style="text-decoration: underline">01234777</div>
          </div>
        </div>
      </li>
      <li>
        <div>Special Thanks</div>
        <div>Hope never fades because of you.</div>
        <div>Thankyou for being part of our journey!</div>
      </li>
    </ul>
    <div class="footer-text"></div>
  </div>
</div>

<div class="modal" id="Modal">
  <div class="masking" id="Masking"></div>
  <div class="content">
    <h4>Introduction to Our Crowdfunding Platform</h4>
    <p>
      Welcome to our crowdfunding platform, where we believe in the power of platform to bring positive change. Our mission is to connect passionate individuals
      with the resources they need to make a difference. Whether you are looking to support a cause or start your own project, our platform provides the tools
      and support to help you succeed.
    </p>
  </div>
</div>
